.top{
    position: fixed;
width: 1280px;
height: 75px;
left: 0px;
top: 0px;

background: #7E262A;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
}

.k1{
    position: fixed;
width: 60px;
height: 60px;
left: 13px;
top: 8px;
}

.topss{
   
    position: fixed;
    left: 55px;
    top: 5px;
    font-family: Raleway;
    text-decoration: none !important;
    color: white;
    
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;
    
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover{
    color: wheat;
    text-decoration: none;
}

body{
    background-color: #FDE7D2;
}

.k2{
    position: fixed;
    width: 498px;
    height: 58px;
    left: 405px;
    top: 50px;

font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 45px;
line-height: 65px;
/* identical to box height */

text-align: center;

color: #000000;

}
.k3{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 22px;
text-align: center;

color: #684A43;
}
.k4{
    position: relative;
    font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 32px;

color: #000000;
}
.k5{
    
background: #F8D0BE;
border-radius: 13px;
}
.f1{
    position: fixed;
width: 175px;
height: 175px;
left: 105px;
top: 180px;


background: #F8D0BE;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
border-radius: 28px;

}
.f2{
    position: fixed;
width: 175px;
height: 175px;
left: 405px;
top: 180px;

background: #F8D0BE;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
border-radius: 28px;


}

.f3{
    position: fixed;
width: 175px;
height: 175px;
left: 705px;
top: 180px;


background: #F8D0BE;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
border-radius: 28px;
}
.f4{
    position: fixed;
width: 175px;
height: 175px;
left: 1005px;
top: 180px;


background: #F8D0BE;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
border-radius: 28px;
}
.f5{
    position: fixed;
    width: 175px;
    height: 175px;
    left: 105px;
    top: 400px;
    
    
    background: #F8D0BE;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
    border-radius: 28px;

}
.f6{
    position: fixed;
width: 175px;
height: 175px;
left: 405px;
top: 400px;

background: #F8D0BE;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
border-radius: 28px;


}

.f7{
    position: fixed;
width: 175px;
height: 175px;
left: 705px;
top: 400px;


background: #F8D0BE;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
border-radius: 28px;
}
.f8{
    position: fixed;
width: 175px;
height: 175px;
left: 1005px;
top: 400px;


background: #F8D0BE;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
border-radius: 28px;
}
.k5:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.k5:active{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.11);
}
button{
    border: 2px solid #D94D4C;
box-sizing: border-box;
border-radius: 8px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 41px;
padding: 5px;
padding-left: 5px;
padding-right: 5px;

color: #000000;
}
button:hover{
    background: #F49494;
border: 2px solid #D94D4C;
box-sizing: border-box;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
border-radius: 8px;
}
button:visited{
    background: #D94D4C;
border: 2px solid #D94D4C;
box-sizing: border-box;
border-radius: 8px;

}
.ab1{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 19px;
}
.butt{
    grid-column: 1/span 1;

}
.butt1{
    grid-column: 2/span 1;

}
.butt2{
    grid-column: 3/span 2;
}
.buttt2{
    grid-column:1/ 1;

}
.butt3{
    grid-column: 2/span 1;
}
.butt5{
    grid-column: 2/span 1;
}
.ab2{
    display: grid;
    grid-template-columns: auto auto auto auto ;
  grid-gap: 19px;
}
.butt6{
    grid-column: 1/span 1;

}
.buttt8{
    grid-column: 1 /span 1
}

.butt11{
    grid-column: 1/span 3;

}
.butt12{
    grid-column:1/span 4;
}